{% extends 'base.html.twig' %}

{% block title %}Connection!{% endblock %}

{% block body %}
<div class="billing-details col-md-6">
    <div class="section-title">
        <h3 class="title">Connection</h3>
    </div>
    <form method="post" >
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  autocomplete="email" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword"  autocomplete="current-password" required>
        </div>
        

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg" type="submit">
            Se connecter
        </button>
    </form>
</div>
<div class='col-md-6'>
    <p>Pour tester , utilisez:</p>
    <ul>
    <li><b>Email:</b> admin@admin.com</li>
    <li><b>Mot de passe:</b> 123456</li>
    </ul> <br>
    <p> Le schema de la conception de la base de données est <a href="{{asset('img/conception.png')}}">ici</a> </p>
</div>
{% endblock %}
