{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!-- section title -->
    <div class="col-md-12">
        <div class="section-title">
            <h3 class="title">Les produits</h3>
            
        </div>
    </div>
    <!-- /section title -->

    <!-- Products tab & slick -->
    <div class="col-md-12">
        <div class="row">
            <div class="products-tabs">
                <!-- tab -->
                <div id="tab1" class="tab-pane active">
                    <div class="products-slick" data-nav="#slick-nav-1">
                            {% for produit in produits %}
                        <!-- product -->
                        <div class="product">
                            <div class="product-img">
                                <img src="./img/voiture{{ produit.id % 4 }}.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">{{ produit.marque.nom }}</p>
                                <h3 class="product-name"><a href="{{ path('produit', { id: produit.id }) }}">{{ produit.titre }}</a></h3>
                                <h4 class="product-price">€{{ produit.prix }} </h4>
                                
                            </div>
                            <div class="add-to-cart">
                                <form action='{{ path('produit', { id: produit.id }) }}'>    
                                <button  class="add-to-cart-btn"><i class="fa fa-eye"></i>Voir fiche</button>
                                </form>
                            </div>
                        </div>
                        <!-- /product -->
                            {% endfor %}

                    </div>
                    <div id="slick-nav-1" class="products-slick-nav"></div>
                </div>
                <!-- /tab -->
            </div>
        </div>
    </div>
    <!-- Products tab & slick -->
{% endblock %}
