{% extends 'base.html.twig' %}

{% block title %}{{ produit.titre }}{% endblock %}

{% block body %}

<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
    <div id="product-main-img">
        <div class="product-preview">
            <img src="{{ asset('/img/voiture0.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture1.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture2.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture3.jpg') }}" alt="">
        </div>
    </div>
</div>
<!-- /Product main img -->

<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
    <div id="product-imgs">
        <div class="product-preview">
            <img src="{{ asset('/img/voiture0.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture1.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture2.jpg') }}" alt="">
        </div>

        <div class="product-preview">
            <img src="{{ asset('/img/voiture3.jpg') }}" alt="">
        </div>
    </div>
</div>
<!-- /Product thumb imgs -->

<!-- Product details -->
<div class="col-md-5">
    <div class="product-details">
        <h2 class="product-name">{{ produit.titre }}</h2>
        <div>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            
        </div>
        <div>
            <h3 class="product-price">€{{ produit.prix }}</h3>
            <span class="product-available">{{ produit.quantite ==0 ? 'RUPTURE DE STOCK':'DISPONIBLE' }} </span>
        </div>
        <p>{{ produit.description }}</p>

        <div class="add-to-cart">
            
            {% if app.user %}
            {{ form_start(commandeForm) }}
                <div class="form-group">
                    {{ form_row(commandeForm.quantite) }}
                </div>
                {{ form_row(commandeForm.valider) }}

            {{ form_end(commandeForm) }}
            {% else %}
                <form action='{{ path('app_register') }}'>
                    <button class="add-to-cart-btn"><i class="fa fa-link"></i> S'inscrire pour commander</button>
                </form>
            {% endif %}
            
        </div>

       
        <ul class="product-links">
            <li>Genre:</li>
            <li>{{ produit.genre }}</li>
        </ul>
        
        <ul class="product-links">
            <li>Type:</li>
            <li>{{ produit.type }}</li>
        </ul>

        
        <ul class="product-links">
            <li>Marque:</li>
            <li>{{ produit.marque.nom }} [ {{ produit.marque.fournisseur.nom }} ]</li>
        </ul>

    </div>
</div>
<!-- /Product details -->
{% endblock %}
