{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="billing-details col-md-6">
        <div class="section-title">
            <h3 class="title">Informations personnelles</h3>
        </div>
        {{ form_start(registrationForm) }}
            <div class="form-group">
                {{ form_row(registrationForm.nom) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.prenom) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.adresse) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.telephone) }}
            </div>
            <div class="section-title">
                <h3 class="title">Informations pour se connecter</h3>
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <button type="submit" class="btn btn-lg">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
