{%- set total = 0 -%}
<ul>
{% for commandeproduit in field.value %}
  <li> <b>{{ commandeproduit.produit.getTitre() }}</b>  ~ {{ commandeproduit.quantite }} *  {{ commandeproduit.produit.getPrix() }} €</li>
  {% set total = total +( commandeproduit.quantite * commandeproduit.produit.getPrix() ) %}
  
{% else %}  
  <span class="badge badge-secondary">None</span>
{% endfor %}
</ul>
<b>Total:</b>   {{ total }} €

