{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    <!-- Order Details -->
    <div class="col-md-12 order-details">
        <div class="section-title text-center">
            <h3 class="title">Mes commandes</h3>
        </div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for commande in commandes %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading_{{commande.id}}">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#commande_{{commande.id}}" aria-expanded="true" aria-controls="commande_{{commande.id}}">
                    Commande  créé le  {{commande.date|date('d M Y h:i')}}  {% if(commande.status==1) %} (<b>Commande validée</b>)  {% endif %}
                    <span> </span>
                    </a>
                </h4>
            </div>
            <div id="commande_{{commande.id}}" class="panel-collapse collapse {% if(commande.status==0) %} in {% endif %}" role="tabpanel" aria-labelledby="heading_{{commande.id}}">
                <div class="panel-body">
                    <div class="order-summary">
                        <table class='table'>
                            <thead>
                                <tr>
                                    <th>Produits</th>
                                    <th>Quantité</th>
                                    <th>Prix unitaire</th>
                                    <th>Prix total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%- set total = 0 -%}
                                {% for cp  in commande.commandeProduits %}
                                <tr>
                                    <td> {{ cp.produit.gettitre() }} </td>
                                    <td> 
                                        <form action="{{ path('commande_produit_edit', {'id':cp.id}) }}" method='post'>
                                            <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ cp.id) }}">
                                            <input type="number" min='0' name='quantite' value='{{ cp.quantite }}'>
                                            <button class="btn"><i class='fa fa-edit'></i></button>
                                        </form>
                                    </td>
                                    <td> €{{ cp.produit.getprix() }} </td>
                                    <td> €{{ cp.quantite * cp.produit.getprix() }} </td>
                                    <td> 
                                        <form method="POST" action="{{ path('commande_produit_delete', {'id': cp.id}) }}" onsubmit="return confirm('Vous êtes vous sur de vouloir supprimer ce produit?');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cp.id) }}">
                                            <button class="btn"><i class='fa fa-trash'></i></button>
                                        </form>
                                    </td>
                                </tr>
                                {% set total = total +( cp.quantite * cp.produit.getPrix() ) %}
                                {% endfor %}
                                
                            </tbody>
                        </table>
                        
                       
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">€{{ total }}</strong></div>
                        </div>
                    </div>
                    <div class='text-right'>
                        {% if(commande.status==0) %}
                        <form method="POST" action="{{ path('commande_validate', {'id': commande.id}) }}" >
                            <input type="hidden" name="_token" value="{{ csrf_token('validate' ~ commande.id) }}">
                            <button class="primary-btn order-submit"><i class='fa fa-check'></i> Valider</button>
                        </form>
                        {% endif %}
                    </div>             
                </div>
            </div>
        </div>
    {% else %}
        <p>Vous n'avez pas encore de commandes</p>
    {% endfor %}
  
  
</div>




        
       
    <!-- /Order Details -->
{% endblock %}
